<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName"> <!-- TWO WAY BINDING -->
<!-- <p>{{ serverName }}</p> -->
<!-- If you want to output something in your template/print some text to it, use STRING INTERPOLATION! -->
<!-- If you want to change some property from an html element or a directive/component, use PROPERTY BINDING! -->
<!-- DON'T MIX PROPERTY BINDING WITH STRING INTERPOLATION! -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button> <!-- Using brackets for PROPERTY BINDING instead of an attribute for 'disabled'. once allowNewServer is false (after 2000ms) the button is no longer disabled! -->
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<!-- <ng-template #noServer>
  <p>No server was created!</p>
</ng-template> -->
<app-server *ngFor="let server of servers"></app-server>


